.classe{font-size:30px}.classe .filho{float:left}.classe .filho .body{background-color:#000}.classe .filho .img{color:#fff;background-color:#111}.h1{font-size:20px;font-size:10px;width:30px;height:40px;margin:0 auto}

